@inherits LayoutComponentBase

<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet" />

<div class="page">
    <div class="sidebar border-end bg-light">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<style>
    .sidebar {
        width: 220px;
        min-height: 100vh;
    }
</style>
