@using BonGoo.Web.Setup.Services
@inject IAuthService AuthService
@inject NavigationManager Navigation

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BonGoo</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column h-100">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door"></span> Startseite
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="veranstaltungen">
                <span class="bi bi-calendar-event"></span> Veranstaltungen
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="abgabestellen">
                <span class="bi bi-shop"></span> Abgabestellen
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bestellungen">
                <span class="bi bi-receipt"></span> Bestellungen
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="statistiken">
                <span class="bi bi-graph-up"></span> Statistiken
            </NavLink>
        </div>
        <div class="nav-item px-3 mt-auto pb-3">
            <button class="nav-link btn btn-link text-start" @onclick="HandleLogout">
                <span class="bi bi-box-arrow-right"></span> Abmelden
            </button>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task HandleLogout()
    {
        await AuthService.LogoutAsync();
        Navigation.NavigateTo("/login", forceLoad: true);
    }
}
