USE [MusiKassaDB]
GO
/****** Object:  Table [dbo].[Abgabestellen]    Script Date: 09.03.2026 12:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abgabestellen](
	[Id] [uniqueidentifier] NOT NULL,
	[Bezeichnung] [nvarchar](100) NOT NULL,
	[Einzeldruck] [bit] NOT NULL,
	[Kassastelle] [bit] NOT NULL,
	[TakeAway] [bit] NOT NULL,
	[Drucker] [nvarchar](200) NULL,
	[VeranstaltungId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Abgabestellen] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 09.03.2026 12:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 09.03.2026 12:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 09.03.2026 12:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 09.03.2026 12:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 09.03.2026 12:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 09.03.2026 12:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[Vorname] [nvarchar](max) NOT NULL,
	[Nachname] [nvarchar](100) NOT NULL,
	[Telefon] [nvarchar](25) NULL,
	[Strasse] [nvarchar](100) NULL,
	[PLZ] [nvarchar](10) NULL,
	[Ort] [nvarchar](100) NULL,
	[Land] [nvarchar](100) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[RegistrationDate] [datetime2](7) NOT NULL,
	[ParentId] [nvarchar](450) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 09.03.2026 12:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bedienungen]    Script Date: 09.03.2026 12:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bedienungen](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[VeranstaltungId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Bedienungen] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BedienungenBarmittel]    Script Date: 09.03.2026 12:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BedienungenBarmittel](
	[Id] [uniqueidentifier] NOT NULL,
	[Betrag] [decimal](18, 2) NOT NULL,
	[Wechselgeld] [bit] NOT NULL,
	[Abfuhr] [bit] NOT NULL,
	[BedienungId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_BedienungenBarmittel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bestellungen]    Script Date: 09.03.2026 12:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bestellungen](
	[Id] [uniqueidentifier] NOT NULL,
	[BestellNr] [int] NOT NULL,
	[TischNr] [nvarchar](50) NOT NULL,
	[BedienungId] [uniqueidentifier] NULL,
	[VeranstaltungId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[SammelrechnungId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Bestellungen] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bons]    Script Date: 09.03.2026 12:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bons](
	[Id] [uniqueidentifier] NOT NULL,
	[Anmerkung] [nvarchar](max) NULL,
	[Abgerechnet] [bit] NOT NULL,
	[Fremdverpflegung] [bit] NOT NULL,
	[Eigenverbrauch] [bit] NOT NULL,
	[Einpacken] [bit] NOT NULL,
	[Kassiert] [bit] NOT NULL,
	[ErzeugtStamp] [datetime2](7) NOT NULL,
	[AbgerechnetStamp] [datetime2](7) NULL,
	[Druck] [bit] NOT NULL,
	[DruckStamp] [datetime2](7) NULL,
	[Zurückgestellt] [bit] NOT NULL,
	[Selbstabholung] [bit] NOT NULL,
	[BestellungId] [uniqueidentifier] NOT NULL,
	[ProduktId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Bons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CounterProdukte]    Script Date: 09.03.2026 12:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CounterProdukte](
	[Id] [uniqueidentifier] NOT NULL,
	[Bezeichnung] [nvarchar](100) NOT NULL,
	[Menge] [int] NOT NULL,
	[AbgabestelleId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Reihenfolge] [int] NOT NULL,
 CONSTRAINT [PK_CounterProdukte] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EinAuszahlungen]    Script Date: 09.03.2026 12:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EinAuszahlungen](
	[Id] [uniqueidentifier] NOT NULL,
	[Betroffener] [nvarchar](200) NOT NULL,
	[Einzahlung] [bit] NOT NULL,
	[Auszahlung] [bit] NOT NULL,
	[Betrag] [decimal](18, 2) NOT NULL,
	[Beschreibung] [nvarchar](max) NULL,
	[VeranstaltungId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_EinAuszahlungen] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Festführer]    Script Date: 09.03.2026 12:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Festführer](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Prozente] [int] NOT NULL,
	[RechnungName] [nvarchar](100) NULL,
	[RechnungStrasseHnr] [nvarchar](100) NULL,
	[RechnungPLZOrt] [nvarchar](100) NULL,
	[VeranstaltungId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Festführer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fremdverpflegungen]    Script Date: 09.03.2026 12:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fremdverpflegungen](
	[Id] [uniqueidentifier] NOT NULL,
	[Empfänger] [nvarchar](100) NOT NULL,
	[BonText] [nvarchar](100) NOT NULL,
	[Anzahl] [int] NOT NULL,
	[Ausgedruckt] [bit] NOT NULL,
	[VeranstaltungId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Fremdverpflegungen] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produkte]    Script Date: 09.03.2026 12:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produkte](
	[Id] [uniqueidentifier] NOT NULL,
	[Bezeichnung] [nvarchar](100) NOT NULL,
	[Reihenfolge] [int] NOT NULL,
	[Ausverkauft] [bit] NOT NULL,
	[HatCounter] [bit] NOT NULL,
	[Preis] [decimal](18, 2) NULL,
	[AbgabestelleId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[CounterProduktId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Produkte] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QrLoginTokens]    Script Date: 09.03.2026 12:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QrLoginTokens](
	[Id] [uniqueidentifier] NOT NULL,
	[Type] [int] NOT NULL,
	[AbgabestelleId] [uniqueidentifier] NULL,
	[BedienungId] [uniqueidentifier] NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[UsedByClientInfo] [nvarchar](256) NULL,
	[UsedByIpAddress] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_QrLoginTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sammelrechnungen]    Script Date: 09.03.2026 12:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sammelrechnungen](
	[Id] [uniqueidentifier] NOT NULL,
	[Bezeichnung] [nvarchar](100) NOT NULL,
	[Aktiv] [bit] NOT NULL,
	[HatFestführer] [bit] NOT NULL,
	[FestführerId] [uniqueidentifier] NULL,
	[VeranstaltungId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Sammelrechnungen] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Veranstalter]    Script Date: 09.03.2026 12:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Veranstalter](
	[Id] [uniqueidentifier] NOT NULL,
	[Bezeichnung] [nvarchar](100) NOT NULL,
	[Beschreibung] [nvarchar](max) NULL,
	[Logo] [varbinary](max) NULL,
	[Plz] [nvarchar](20) NULL,
	[Ort] [nvarchar](100) NULL,
	[Strasse] [nvarchar](100) NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Veranstalter] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Veranstaltungen]    Script Date: 09.03.2026 12:28:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Veranstaltungen](
	[Id] [uniqueidentifier] NOT NULL,
	[Bezeichnung] [nvarchar](100) NOT NULL,
	[Beschreibung] [nvarchar](max) NULL,
	[Von] [datetime2](7) NOT NULL,
	[Bis] [datetime2](7) NULL,
	[Aktiv] [bit] NOT NULL,
	[VeranstalterId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Veranstaltungen] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[Bedienungen] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [VeranstaltungId]
GO
ALTER TABLE [dbo].[CounterProdukte] ADD  DEFAULT ((0)) FOR [Reihenfolge]
GO
ALTER TABLE [dbo].[Abgabestellen]  WITH CHECK ADD  CONSTRAINT [FK_Abgabestellen_Veranstaltungen_VeranstaltungId] FOREIGN KEY([VeranstaltungId])
REFERENCES [dbo].[Veranstaltungen] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Abgabestellen] CHECK CONSTRAINT [FK_Abgabestellen_Veranstaltungen_VeranstaltungId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_AspNetUsers_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_AspNetUsers_ParentId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Bedienungen]  WITH CHECK ADD  CONSTRAINT [FK_Bedienungen_Veranstaltungen_VeranstaltungId] FOREIGN KEY([VeranstaltungId])
REFERENCES [dbo].[Veranstaltungen] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bedienungen] CHECK CONSTRAINT [FK_Bedienungen_Veranstaltungen_VeranstaltungId]
GO
ALTER TABLE [dbo].[BedienungenBarmittel]  WITH CHECK ADD  CONSTRAINT [FK_BedienungenBarmittel_Bedienungen_BedienungId] FOREIGN KEY([BedienungId])
REFERENCES [dbo].[Bedienungen] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BedienungenBarmittel] CHECK CONSTRAINT [FK_BedienungenBarmittel_Bedienungen_BedienungId]
GO
ALTER TABLE [dbo].[Bestellungen]  WITH CHECK ADD  CONSTRAINT [FK_Bestellungen_Bedienungen_BedienungId] FOREIGN KEY([BedienungId])
REFERENCES [dbo].[Bedienungen] ([Id])
GO
ALTER TABLE [dbo].[Bestellungen] CHECK CONSTRAINT [FK_Bestellungen_Bedienungen_BedienungId]
GO
ALTER TABLE [dbo].[Bestellungen]  WITH CHECK ADD  CONSTRAINT [FK_Bestellungen_Sammelrechnungen_SammelrechnungId] FOREIGN KEY([SammelrechnungId])
REFERENCES [dbo].[Sammelrechnungen] ([Id])
GO
ALTER TABLE [dbo].[Bestellungen] CHECK CONSTRAINT [FK_Bestellungen_Sammelrechnungen_SammelrechnungId]
GO
ALTER TABLE [dbo].[Bestellungen]  WITH CHECK ADD  CONSTRAINT [FK_Bestellungen_Veranstaltungen_VeranstaltungId] FOREIGN KEY([VeranstaltungId])
REFERENCES [dbo].[Veranstaltungen] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bestellungen] CHECK CONSTRAINT [FK_Bestellungen_Veranstaltungen_VeranstaltungId]
GO
ALTER TABLE [dbo].[Bons]  WITH CHECK ADD  CONSTRAINT [FK_Bons_Bestellungen_BestellungId] FOREIGN KEY([BestellungId])
REFERENCES [dbo].[Bestellungen] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bons] CHECK CONSTRAINT [FK_Bons_Bestellungen_BestellungId]
GO
ALTER TABLE [dbo].[Bons]  WITH CHECK ADD  CONSTRAINT [FK_Bons_Produkte_ProduktId] FOREIGN KEY([ProduktId])
REFERENCES [dbo].[Produkte] ([Id])
GO
ALTER TABLE [dbo].[Bons] CHECK CONSTRAINT [FK_Bons_Produkte_ProduktId]
GO
ALTER TABLE [dbo].[CounterProdukte]  WITH CHECK ADD  CONSTRAINT [FK_CounterProdukte_Abgabestellen_AbgabestelleId] FOREIGN KEY([AbgabestelleId])
REFERENCES [dbo].[Abgabestellen] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CounterProdukte] CHECK CONSTRAINT [FK_CounterProdukte_Abgabestellen_AbgabestelleId]
GO
ALTER TABLE [dbo].[EinAuszahlungen]  WITH CHECK ADD  CONSTRAINT [FK_EinAuszahlungen_Veranstaltungen_VeranstaltungId] FOREIGN KEY([VeranstaltungId])
REFERENCES [dbo].[Veranstaltungen] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EinAuszahlungen] CHECK CONSTRAINT [FK_EinAuszahlungen_Veranstaltungen_VeranstaltungId]
GO
ALTER TABLE [dbo].[Festführer]  WITH CHECK ADD  CONSTRAINT [FK_Festführer_Veranstaltungen_VeranstaltungId] FOREIGN KEY([VeranstaltungId])
REFERENCES [dbo].[Veranstaltungen] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Festführer] CHECK CONSTRAINT [FK_Festführer_Veranstaltungen_VeranstaltungId]
GO
ALTER TABLE [dbo].[Fremdverpflegungen]  WITH CHECK ADD  CONSTRAINT [FK_Fremdverpflegungen_Veranstaltungen_VeranstaltungId] FOREIGN KEY([VeranstaltungId])
REFERENCES [dbo].[Veranstaltungen] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Fremdverpflegungen] CHECK CONSTRAINT [FK_Fremdverpflegungen_Veranstaltungen_VeranstaltungId]
GO
ALTER TABLE [dbo].[Produkte]  WITH CHECK ADD  CONSTRAINT [FK_Produkte_Abgabestellen_AbgabestelleId] FOREIGN KEY([AbgabestelleId])
REFERENCES [dbo].[Abgabestellen] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Produkte] CHECK CONSTRAINT [FK_Produkte_Abgabestellen_AbgabestelleId]
GO
ALTER TABLE [dbo].[Produkte]  WITH CHECK ADD  CONSTRAINT [FK_Produkte_CounterProdukte_CounterProduktId] FOREIGN KEY([CounterProduktId])
REFERENCES [dbo].[CounterProdukte] ([Id])
GO
ALTER TABLE [dbo].[Produkte] CHECK CONSTRAINT [FK_Produkte_CounterProdukte_CounterProduktId]
GO
ALTER TABLE [dbo].[QrLoginTokens]  WITH CHECK ADD  CONSTRAINT [FK_QrLoginTokens_Abgabestellen_AbgabestelleId] FOREIGN KEY([AbgabestelleId])
REFERENCES [dbo].[Abgabestellen] ([Id])
GO
ALTER TABLE [dbo].[QrLoginTokens] CHECK CONSTRAINT [FK_QrLoginTokens_Abgabestellen_AbgabestelleId]
GO
ALTER TABLE [dbo].[QrLoginTokens]  WITH CHECK ADD  CONSTRAINT [FK_QrLoginTokens_Bedienungen_BedienungId] FOREIGN KEY([BedienungId])
REFERENCES [dbo].[Bedienungen] ([Id])
GO
ALTER TABLE [dbo].[QrLoginTokens] CHECK CONSTRAINT [FK_QrLoginTokens_Bedienungen_BedienungId]
GO
ALTER TABLE [dbo].[Sammelrechnungen]  WITH CHECK ADD  CONSTRAINT [FK_Sammelrechnungen_Festführer_FestführerId] FOREIGN KEY([FestführerId])
REFERENCES [dbo].[Festführer] ([Id])
GO
ALTER TABLE [dbo].[Sammelrechnungen] CHECK CONSTRAINT [FK_Sammelrechnungen_Festführer_FestführerId]
GO
ALTER TABLE [dbo].[Sammelrechnungen]  WITH CHECK ADD  CONSTRAINT [FK_Sammelrechnungen_Veranstaltungen_VeranstaltungId] FOREIGN KEY([VeranstaltungId])
REFERENCES [dbo].[Veranstaltungen] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sammelrechnungen] CHECK CONSTRAINT [FK_Sammelrechnungen_Veranstaltungen_VeranstaltungId]
GO
ALTER TABLE [dbo].[Veranstalter]  WITH CHECK ADD  CONSTRAINT [FK_Veranstalter_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Veranstalter] CHECK CONSTRAINT [FK_Veranstalter_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Veranstaltungen]  WITH CHECK ADD  CONSTRAINT [FK_Veranstaltungen_Veranstalter_VeranstalterId] FOREIGN KEY([VeranstalterId])
REFERENCES [dbo].[Veranstalter] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Veranstaltungen] CHECK CONSTRAINT [FK_Veranstaltungen_Veranstalter_VeranstalterId]
GO
